<div class="centered-content">
  <div cdkDropListGroup class="task-manager-container">


    <div class="tasks-list-container has-background-light columns">

      <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="pendingTodos" (cdkDropListDropped)="drop($event)"
        class="title has-text-primary column">
        <h1>Pending</h1>
        <div cdkDrag *ngFor="let todo of pendingTodos; let i = index" (hover)="addHandle()"
          (dblclick)="editTodo(element)" class="card todo {{todo.priority}}">
          <!-- Add Handle for drag -->
          <div class="handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
              </path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
          <!--          -->
          <div class="delete is-danger" (click)="pendingTodos.splice(i, 1)">x</div>
          <label id="todoTitle">{{todo.title}}</label>
          <p class="description">{{todo.description}}</p>
          <p class="assignee">{{todo.assignee}}</p>
        </div>
      </div>

      <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgressTodos"
        (cdkDropListDropped)="drop($event)" class="title has-text-primary column">
        <h1>In-Progress</h1>
        <div cdkDrag *ngFor="let todo of inProgressTodos; let i = index" (dblclick)="editTodo(element)"
          class="card todo {{todo.priority}}">
          <!-- Add Handle for drag -->
          <div class="handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
              </path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
          <!--           -->
          <div class="delete is-danger" (click)="inProgressTodos.splice(i, 1)">x</div>
          <h2 id="todoTitle">{{todo.title}}</h2>
          <p class="description">{{todo.description}}</p>
          <p class="assignee">{{todo.assignee}}</p>
        </div>
      </div>


      <div cdkDropList #completeList="cdkDropList" [cdkDropListData]="completeTodos" (cdkDropListDropped)="drop($event)"
        class="title has-text-primary column">
        <h1>Complete</h1>
        <div cdkDrag *ngFor="let todo of completeTodos; let i = index" class="card todo {{todo.priority}}"
          (dblclick)="editTodo(element)">
          <!-- Add Handle for drag -->
          <div class="handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
              </path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
          <!--          -->
          <div class="delete is-danger" (click)="completeTodos.splice(i, 1)">x</div>
          <h2 id="todoTitle">{{todo.title}}</h2>
          <p class="description">{{todo.description}}</p>
          <p class="assignee">{{todo.assignee}}</p>
        </div>
      </div>
    </div>
  </div>
</div>



<!--  -->
