@import "../../../main-styles.scss";


.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.task-manager-container {
  // display: flex;
  width: 70%;
  min-height: 50%;
}


.tasks-list-container {
  // display: flex;
  flex-grow: 1;
  text-align: center;
  border-radius: 5px;
  padding: 2rem;
  -webkit-box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.49);
  box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.49);

}

// Title Div style
.title {
  font-size: 1.3rem;
  max-height: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;

  // &:nth-of-type(-n + 2) {
  //   border-right: 1px solid black;
  // }



}

// Card styles
.card.todo:nth-of-type(1) {
  margin-top: 1.8em;
}

.card {
  margin-top: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.21);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.21);
  padding: .5rem;

  &.Critical {
    border: 2px solid rgba(250, 135, 135, 0.623);
  }

  &.Medium {
    border: 2px solid rgba(245, 245, 100, 0.644);
  }

  &.Non-Critical {
    border: 2px solid rgba(59, 221, 59, 0.753);
  }
}



.delete {
  opacity: 0;
  color: red;
  background-color: rgba(245, 41, 41, 0.849);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2px;
  -webkit-transition: opacity .7s ease-in;
  -moz-transition: opacity .7s ease-in;
  -o-transition: opacity .7s ease-in;
  -ms-transition: opacity .7s ease-in;
  transition: opacity .7s ease-in
}

.card:hover .delete {
  opacity: 1;
}

// Card text style
#todoTitle {
  font-weight: 600;
}

.assignee {
  font-size: .7rem;
}



.description {
  font-weight: 400;
  font-size: 1rem;
}


// Drag and drop styles
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


/* Large devices (laptops/desktops, 1024px and up) */
// @media only screen and (max-width: 715px) {
//   .tasks-list-container {
//     display: flex;
//     flex-direction: row;
//   }



//   .title {
//     font-size: 1rem;
//     width: 65%;
//     border-right: none;
//     border-bottom: 1px solid black;
//     float: left;




//     &:nth-of-type(-n + 2) {
//       border-right: none;
//     }
//   }

// }

@media only screen and (max-width: 768px) {
  .title {

    &:nth-of-type(-n + 2) {
      border-right: none;
    }
  }

  .card {
    font-size: 1rem;
  }


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {}
