<div class="centered-content">
  <div cdkDropListGroup class="task-manager-container">


    <div class="tasks-list-container has-background-light columns">

      <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="pendingTodos" (cdkDropListDropped)="drop($event)"
        class="title has-text-primary column">
        <h1>Pending</h1>
        <div cdkDrag (dblclick)="editTodo(element)" *ngFor="let todo of pendingTodos"
          class="card todo {{todo.priority}}">
          <div class="delete is-danger" (click)="deletePendingTodo()">x</div>
          <h2 id="todoTitle">{{todo.title}}</h2>
          <p class="assignee">{{todo.assignee}}</p>
          <p class="description">{{todo.description}}</p>
        </div>
      </div>

      <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgressTodos"
        (cdkDropListDropped)="drop($event)" class="title has-text-primary column">
        <h1>In-Progress</h1>
        <div cdkDrag *ngFor="let todo of inProgressTodos" class="card todo {{todo.priority}}">
          <div class="delete is-danger">x</div>
          <h2 id="todoTitle">{{todo.title}}</h2>
          <p class="assignee">{{todo.assignee}}</p>
          <p class="description">{{todo.description}}</p>
        </div>
      </div>
      <div cdkDropList #completeList="cdkDropList" [cdkDropListData]="completeTodos" (cdkDropListDropped)="drop($event)"
        class="title has-text-primary column">
        <h1>Complete</h1>
        <div cdkDrag *ngFor="let todo of completeTodos" class="card todo {{todo.priority}}">
          <div class="delete is-danger">x</div>
          <h2 id="todoTitle">{{todo.title}}</h2>
          <p class="assignee">{{todo.assignee}}</p>
          <p class="description">{{todo.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>



<!--  -->
