<div class="container">
  <div class="control" id="control">

    <!-- <input type="text" id="addTodo" class="input" placeholder="Add a todo" (click)="expandInput()" autocomplete="off"> -->

    <div (click)="expandInput()" id="addTodo" class="circle">+</div>


    <div class="modal" id="modal">
      <div class="modal-background" (click)="closeModal()"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">What do you need to do?</p>
          <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <section class="modal-card-body">
          <input id="title" class="input" type="text" placeholder="Title" autocomplete="off">
          <input id="assignee" class="input" type="text" placeholder="Assignee">
          <input id="desc" class="input" type="text" placeholder="Description">
          <!-- <input id="priority" class="input" type="text"> -->
          <div class="select" (change)="changeOptionColor()">
            <select id="priority">
              <option disabled>Priority</option>
              <option>Non-Critical</option>
              <option>Medium</option>
              <option>Critical</option>
            </select>
            <div class="select">
              <select id="status">
                <option disabled>Status</option>
                <option>Pending</option>
                <option>In-Progress</option>
                <option>Complete</option>
              </select>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" (click)="addTodo()" (click)="closeModal()">Add Todo</button>
          <button class="button" (click)="closeModal()">Cancel</button>
        </footer>
      </div>
    </div>
  </div>
</div>
